.fixed-width {
    width: 100%;
    margin: auto;
}

[class^="col"]{
    width: 100%;
    padding: 15px;
}

.btn {
    display: inline-block;
    padding: 12px 40px;
    color: #222;
    background-color: var(--primaryColor);
    text-decoration: none;
}

p {
    color: #444;
    line-height: 2em;
    font-size: 14px;
    margin-bottom: 50px;
}

/*nav*/
nav {
    /* position: fixed; */

    background-color: #333;
}
nav a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    /* padding-left: 30px; */
    border-bottom: 1px solid #666;
}
nav .logo {
    /* float: left; */
    /* margin-right: 50px; */
    font-size: 30px;
}
nav .menu {
    /* float: left; */
}
nav .menu li {
    /* float: left; */
}
nav .menu a {
    /* padding-left: 15px; */
    /* padding-right: 15px; */
}
nav .search {
    /* float: right; */
    text-align: center;
}